*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #000000;
    color: white;
    align-items: center;
    font-size: 16px;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    z-index: 5;
}
.nav2{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
.entireSection{
    display: grid;
    grid-template-columns: 14% 86%;
    position: relative;
}
.filterDiv{
    display: inline-flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    background-color: black;
    color: white;
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
}
.filterDiv section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:0 25px;
}
.filterDiv h4{
    font-size: 19px;
    font-weight: 500;
}
li{
    list-style-type: none;
    display: flex;
    gap: 10px;
}
.filterDiv section ul{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.filterDiv button{
    background-color: #000000;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    margin: 10px;
}
input[type=checkbox]{
    accent-color: #ddd;
}
.mainDiv{
    padding: 20px;
    font-weight: 400;
}
.searchsection{
    position: sticky;
    top: 41px;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 5px 6px -6px black;
    padding-top: 10px;
}
.input input{
    padding: 10px 50px;
    font-size: 17px;
    width: 90%;
    border-radius: 20px;
}
input:focus{
    outline: none;
}
.input i{
    position: absolute;
    top: 20px;
    left: 20px;
}
#categories{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
#men-btn,#women-btn,#jewellery-btn,#electronics-btn{
    background-color: #fff;
    border: 1px solid black;
    padding: 10px 80px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
}
#all{
    background-color: #000000;
    color: white;
    padding: 10px 80px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    border: 1px solid black;
}
.men{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.scrollSection{
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    position: relative;
}
.card{
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    scroll-snap-align: start;
    transition: 0.3s;
    justify-content: space-between;
    min-height: 32rem;
}
.imgdiv{
    width: 200px;
    height: 250px;
}
.card img{
    width: 200px;
    height: 250px;
    margin-bottom: 10px;
    transition: 0.3s;
}
.card:hover .img{
    transform: scale(1.1);
}

.scrollSection::-webkit-scrollbar {
    height: 5px;
  }
  .scrollSection::-webkit-scrollbar-track {
    background: transparent;
  }

.scrollSection::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    width: 5px;
  }

.scrollSection::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .ps{
    display: flex;
    justify-content: space-between;
  }
  .card button{
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    font-size: 15px;
  }
  #emptySearch{
    margin-top: 300px 200px;
    display: none;
  }
.cart{
    position: relative;
}
.cart span{
    background-color: white;
    color: black;
    width: 17px;
    height: 17px;
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    right: -5px;
    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    transition: transform 0.3s ease;
}
button:hover{
    transform: translateY(-3px) translateX(-3px);
}