*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #000000;
    color: white;
    align-items: center;
    font-size: 16px;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0;
    z-index: 5;
}
.nav2{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
.h1cart{
    text-align: center;
    padding: 20px;
    font-size: 40px;
}
.entireConatiner{
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 10px 20px;
}
.cartitems{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}
.card{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    min-height: 25rem;
    padding: 10px;
    width: 75%;
}
.card img{
    width: 230px;
    height: 290px;
    margin-bottom: 10px;
    transition: 0.3s;
}
.card:hover .img{
    transform: scale(1.1);
}
.card button{
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  font-size: 15px;
}
.checkout{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items:center ;
    padding: 20px;
    color: white;
    background-color: #000000;
    position: sticky;
    top: 15%;
    height: 75vh;
    width: 83%;
    margin-left: 25px;
    justify-content: space-between;
    overflow: scroll;
}
.productslist, .total{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}
.productslist div{
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.total div{
    border-top: 1px solid white;
    border-bottom:1px solid white;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    width: 20rem;
}
.total button{
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    font-size: 15px;
    justify-self: center;
  }

  .checkout::-webkit-scrollbar {
    height: 5px;
  }
  .checkout::-webkit-scrollbar-track {
    background: transparent;
  }

.checkout::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    min-width: 1rem;
  }

.checkout::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  #emptyh1{
    display: block;
    margin-top: 200px;
    margin-left: 100px;
    height: 50vh;
    width: 60vh;
  }
  .cart{
    position: relative;
}
.cart span{
    background-color: white;
    color: black;
    width: 17px;
    height: 17px;
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    right: -5px;
    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    transition: transform 0.3s ease;
}
button:hover{
    transform: translateY(-3px) translateX(-3px);
}